<!doctype html >
<html lang="en" data-ng-app="BeMEAN">
<head>
	<meta charset="utf-8">
	<title >Spiro</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
	<style>
		.wrapper {
			max-width: 600px;
			margin: 0 auto;
		}
	</style>
</head>
<body data-ng-controller="JogosController as jogo">
<div>
<center>
<audio controls play>
	<source src="msc/liu.mp3" type="audio/mpeg">
</audio>
</center>
</div>
	<center>
	<img src="logo.png"  >
	</center>
<div class="row wrapper">
<h1>{{titulo}}</h1>
<p class="col s12">
<input placeholder="Name" type="text" data-ng-model="form.jogo.name">
<br>
<input type="text" placeholder="Description" data-ng-model="form.jogo.description">
</p>

<button class="btn btn-large blue waves-effect waver-light col s12" type="submit" name="action" data-ng-click="jogo.add(form.jogo)">Add game</button>
<br>
<input ng-model="searchUser">
<table>
	<thead>
	<tr>
	<th></th>
	<th> Name </th>
	<th> Description</th>
	</tr>
	</thead>
	<tbody>
	<tr data-ng-repeat="jogo in jogo.jogos | filter:searchUser">
		<td>
		<input type="checkbox" id="jogo-{{$index}}" ng-model="jogo.selection"/>
		<label for="jogo-{{$index}}"></label>
	</td>
	<td> {{ jogo.name }}</td>
	<td> {{ jogo.description }} </td>

	</tr>
	</tbody>
</table>
<button data-ng-click="jogo.remove(jogo.jogos)" class="btn btn-large red waves-effect waves-light col s12" type="submit" name="action">delete</button>
</ul>
</div>
	<script src="angular.min.js"></script>
	<script >
		angular.module('BeMEAN', [])
		.controller('JogosController', JogosController);

		function JogosController() {
			this.titulo = "Jogos";
			this.jogos = [
				{name: 'Dragon age', description: 'RPG'}
				,{name: 'League of Legends', description: 'Moba'}
				,{name: 'Overwatch', description: 'FPS'}
			];
			this.add = add;
			function add(user) {
				this.jogos.push(angular.copy(user));
			}

			this.remove = remove;	
		function remove(jogos) {
			this.jogos = jogos.filter(function(el){ return !el.selection });
		}	
	}
	</script>
</body>
</html>
